@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
}

body {
    margin: 1em;
}

.ai {
    display: flex;
    gap: 5px;
}

.ai button {
    background: #ccc;
    border: none;
    margin-top: 0;
    margin-bottom: 20px;
}

.ai button:hover {
    background: #999;
}

.input-field {
    display: flex;
}

.submit {
    flex: 1;
    margin-left: 10px;
    padding: 0;
}

input {
    flex: 5;
    display: flex;
    width: 90%;
    height: 2em;
    margin-bottom: 5px;
    padding-left: 10px;
    border: #999 solid 1px;
    border-radius: 5px;
}

.board {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

.contexts {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: right;
    margin-top: 30px;
}

.contexts li {
    margin: 20px 6px;
}

.icons {
    flex: 5;
}

table {
    width: 100%;
    margin: 0 auto;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
    flex: 1;
    margin: 3px;
    display: flex;
    justify-content: center;
}

button {
    width: 100%;
    text-align: center;
    padding: 1em 1em;
    background-color: #2d7fd0;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button:hover {
    filter: brightness(90%) !important;
}

.fanboys {
    margin-top: 6px;
}

.fanboys-list {
    display: flex;
}

.fanboys-list li {
    flex: 1;
    margin: auto 3px;
    display: flex;
    justify-content: center;
}
